@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap');

textarea,
.leading-relaxed,
.leading-relaxed .markdown-body p,
.leading-relaxed .markdown-body ol,
.leading-relaxed .markdown-body ul {
	direction: rtl;
	text-align:right;
	font-family: 'Vazirmatn', sans-serif !important;
	line-height:1.6rem;
}
.leading-relaxed {
	padding:5px;
}
.leading-relaxed .markdown-body p {
	margin:15px auto 10px;
}
.leading-relaxed .markdown-body ol,
.leading-relaxed .markdown-body ul {
    margin:0 auto;
    padding: 10px 15px 10px 0;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
}
.leading-relaxed .markdown-body ul > li {
	list-style-type: circle;
}
.leading-relaxed .markdown-body li > ul {
	border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 0 30px 0 15px;
    border-radius: 10px;
}
pre.code-block-wrapper {
	direction:ltr;
	text-align:left;
	background-color: #2c353f !important;
}
.code-block-header__lang {
    background-color: slateblue;
    padding:0 10px 15px 20px;
    border-radius: 7px;
    height: 26px;
    line-height: 30px;
    position: absolute;
    left: -10px;
    top: -10px;
    text-transform: uppercase;
}
